

<table class="table table-hover">
  <tr>
    <td><b>Name Arabic</b></td>
    <td><b>Name English</b></td>
    <td><b>Name French</b></td>
    <td><b>Download as pdf</b></td>
  </tr>
  <tr *ngFor="let pd3 of service.list">
    <td (click)="populateForm(pd3)">{{pd3.nameAr}}</td>
    <td (click)="populateForm(pd3)">{{pd3.nameEn}}</td>
    <td (click)="populateForm(pd3)">{{pd3.nameFr}}</td>
    <td > <button class="btn btn-success">Download</button></td>
    <td>
      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd2.InstId)"></i>
    </td>
  </tr>
</table>

