<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="Id" [value]="service.formData.Id">
  
  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="far fa-money-bill-alt" [class.green-icon]="credits.valid" [class.red-icon]="credits.invalid && credits.touched"></i>
          </div>
        </div>
        <input name="credits"  #credits="ngModel" [(ngModel)]="service.formData.credits" 
        class="form-control" placeholder="Credits" >
      </div>
    </div>
  
  
    <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-passport"  [class.green-icon]="admission.valid" [class.red-icon]="admission.invalid && admission.touched"></i>
            </div>
          </div>
          <input name="admission" #admission="ngModel" [(ngModel)]="service.formData.admission" 
          class="form-control" placeholder="Admission" required maxlength="50" minlength="0">
        </div>
      </div>
  
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i  class="fas fa-phone-square" [class.green-icon]="code.valid" [class.red-icon]="code.invalid && code.touched"></i>
          </div>
        </div>
        <input name="code" #code="ngModel" [(ngModel)]="service.formData.code" 
        class="form-control" placeholder="Code" >
      </div>
    </div>
  
    <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i  class="fas fa-info"  [class.green-icon]="etudesSuperieures.valid" [class.red-icon]="etudesSuperieures.invalid && etudesSuperieures.touched"></i>
            </div>
          </div>
          <input name="etudesSuperieures" #etudesSuperieures="ngModel" [(ngModel)]="service.formData.etudesSuperieures" 
          class="form-control" placeholder="Etudes Superieures" required maxlength="100" minlength="0">
        </div>
      </div>

      <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i  class="fas fa-info"  [class.green-icon]="objectivesEtDebouches.valid" [class.red-icon]="objectivesEtDebouches.invalid && objectivesEtDebouches.touched"></i>
              </div>
            </div>
            <input name="objectivesEtDebouches" #objectivesEtDebouches="ngModel" [(ngModel)]="service.formData.objectivesEtDebouches" 
            class="form-control" placeholder="Objectives Et Debouches" required maxlength="100" minlength="0">
          </div>
        </div>

        <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                  <i  class="fas fa-pen"  [class.green-icon]="title.valid" [class.red-icon]="title.invalid && title.touched"></i>
                </div>
              </div>
              <input name="title" #title="ngModel" [(ngModel)]="service.formData.title" 
              class="form-control" placeholder="Titre" required maxlength="100" minlength="0">
            </div>
          </div>

          <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text bg-white">
                    <i  class="fas fa-pen"  [class.green-icon]="titleAr.valid" [class.red-icon]="titleAr.invalid && titleAr.touched"></i>
                  </div>
                </div>
                <input name="titleAr" #titleAr="ngModel" [(ngModel)]="service.formData.titleAr" 
                class="form-control" placeholder="Titre Arabe" required maxlength="100" minlength="0">
              </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                      <i  class="fas fa-pen"  [class.green-icon]="titleEn.valid" [class.red-icon]="titleEn.invalid && titleEn.touched"></i>
                    </div>
                  </div>
                  <input name="titleEn" #titleEn="ngModel" [(ngModel)]="service.formData.titleEn" 
                  class="form-control" placeholder="Titre Anglais" required maxlength="100" minlength="0">
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                      <i  class="fas fa-university" [class.green-icon]="institution.valid" [class.red-icon]="institution.invalid && institution.touched"></i>
                    </div>
                  </div>
                  <select required name="institution" 
                                #institution="ngModel" 
                                class="form-control" [(ngModel)]="service.formData.institution">  
                           <option value="" selected disabled> <i>Select Institution</i></option> 
                            <option *ngFor="let x1 of service.listInst"  
                                    [ngValue]="x1.signature">  
                                {{x1.signature}}  
                            </option>  
                        </select>
                </div>
              </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid" ><i class="fas fa-database"></i> Submit</button>
    </div>
  </form>
  