

<table class="table table-hover">
    <tr>
        <td><b>Credits</b></td>
        <td><b>Admission</b></td>
        <td><b>Institution</b></td>
        <td><b>Etudes Superieures</b></td>
        <td><b>Objectives Et Debouches</b></td>
        <td><b>Titre</b></td>
        <td><b>Titre Arabe</b></td>
        <td><b>Titre Anglais</b></td>
       <!--- -> <td><b>Institution</b></td>-->
      </tr>
  <tr *ngFor="let pdprogram of service.list">
    <td (click)="populateForm(pdprogram)">{{pdprogram.credits}}</td>
    <td (click)="populateForm(pdprogram)">{{pdprogram.admission}}</td>
    <td (click)="populateForm(pdprogram)">{{pdprogram.code}}</td>
    <td (click)="populateForm(pdprogram)">{{pdprogram.etudesSuperieures}}</td>
    <td (click)="populateForm(pdprogram)">{{pdprogram.objectivesEtDebouches}}</td>
    <td (click)="populateForm(pdprogram)">{{pdprogram.title}}</td>
    <td (click)="populateForm(pdprogram)">{{pdprogram.titleAr}}</td>
    <td (click)="populateForm(pdprogram)">{{pdprogram.titleEn}}</td>
    <td>
      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pdprogram.Id)"></i>
    </td>
    <td >
      <i 
      class="far fa-eye" (click)="redirect()"
      ></i> 
    
    </td>
  </tr>
</table>