<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="Id" [value]="service.formData.Id">

<div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-pen" [class.green-icon]="NameAr.valid" [class.red-icon]="NameAr.invalid && NameAr.touched"></i>
        </div>
      </div>
      <input name="NameAr"  #NameAr="ngModel" [(ngModel)]="service.formData.NameAr" 
      class="form-control" placeholder="Name Arabic">
    </div>
  </div>


  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-pen"  [class.green-icon]="NameEn.valid" [class.red-icon]="NameEn.invalid && NameEn.touched"></i>
          </div>
        </div>
        <input name="NameEn" #NameEn="ngModel" [(ngModel)]="service.formData.NameEn" 
        class="form-control" placeholder="Name English" required maxlength="50" minlength="0">
      </div>
    </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-pen" [class.green-icon]="NameFr.valid" [class.red-icon]="NameFr.invalid && NameFr.touched"></i>
        </div>
      </div>
      <input name="NameFr" #NameFr="ngModel" [(ngModel)]="service.formData.NameFr" 
      class="form-control" placeholder="Name French" required maxlength="50" minlength="0">
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i  class="fas fa-trophy" [class.green-icon]="Institution.valid" [class.red-icon]="Institution.invalid && Institution.touched"></i>
        </div>
      </div>
      <select required name="Institution" 
                    #Institution="ngModel" 
                    class="form-control" [(ngModel)]="service.formData.Institution">  
               <option value="" selected disabled> <i>Select Institution</i></option> 
                <option *ngFor="let x2 of service.listInst "  
                        [ngValue]="x2.title">  
                    {{x2.title}}  
                </option>  
            </select>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i  class="fas fa-trophy" [class.green-icon]="Program.valid" [class.red-icon]="Program.invalid && Program.touched"></i>
        </div>
      </div>
      <select required name="Program" 
                    #Program="ngModel" 
                    class="form-control" [(ngModel)]="service.formData.Program">  
               <option value="" selected disabled> <i>Select Program</i></option> 
                <option *ngFor="let x2 of service.listProgram "  
                        [ngValue]="x2.title">  
                    {{x2.title}}  
                </option>  
            </select>
    </div>
  </div>
    
    <span > <b> Upload your file: <br/> (make sure you have added the file name above) </b></span><br/><br/>
    <div class="row" style="margin-bottom:15px;">
      <div class="col-md-3">
        <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
        <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
      </div>
      <div class="col-md-4">
        <span class="upload" *ngIf="progress > 0">
          {{progress}}%
        </span>
        <span class="upload" *ngIf="message">
          {{message}}
        </span>
      </div>
    </div>
</form>